// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.day-change-block {
    text-align: center;
    margin-top: 35px;
  }

  .day-change {
    display: inline-block;
    width: 100px;
    font-size: 12px;
    border-radius: 8px;
    background: #8EB8FF;
    box-shadow: 0px 0px 0px 5px #8EB8FF;
  }

  .write {
    font-size: 25px;
  }

  .message {
    margin-top: 30px;
  }

  .my-message {
    text-align: right;
  }

  .writer .fa{
    margin-right: 10px;
  }

  .time {
    font-size: 12px;
    opacity: 0.6;
  }

  .fa-trash {
    cursor: pointer;
    color: #CC3333;
  }

  .my-message .content-line {
    width: 70%;
    text-align: right;
    margin: 1em 0 1em auto;
  }

  .my-message .content-box {
    background: #66FF99;
    box-shadow: 0px 0px 0px 9px #66FF99;
    text-align: left;
  }

  .others-message .content-line {
    width: 70%;
    margin: 1em 0 1em 0;
  }
  
  .others-message .content-box {
    background: #ffeaea;
    box-shadow: 0px 0px 0px 9px #ffeaea;
  }

  .content-box, .content-box-null {
    color: #565656;
    display: inline-block;
    margin-left: 10px;
    border-radius: 8px;
  }

  .content-box-null {
    background: #DDDDDD;
    box-shadow: 0px 0px 0px 9px #DDDDDD;
  }

  .content {
    white-space: pre-wrap;
  }

  .store-form {
    width: 600px;
  }

  @media screen and (max-width: 560px) {
    .store-form {
      width: 90%;
    }
  }

  @media screen and (max-width: 960px) {
    .store-form {
      width: 90%;
    }
  }

  textarea {
    font-size: 16px;
  }

  .btn-square-shadow {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #fd9535;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square-shadow:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
  }